.contenedor { 
    /*
    #191654
    #43C6AC
    */
    background: linear-gradient(
        to bottom right,  #191654,#43C6AC
    );
    width: 100%;
    height: calc(100vh);
    background-size: 200% 200%;
    animation: animate-bg 10s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorForm{
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 2px rgb(69, 69, 69);
    width: 22em;
    height: 18em;
}
.contenedorHom{
    background-color: #fff;
    margin-left: 2em;
    padding-left: 2em;
    border-radius: 10px;
    border: 1px solid black;
    width: 23em;
    height: 18em;
    box-shadow: 3px 3px 2px rgb(69, 69, 69);
}
.bienvenida{
    display: flex;
    justify-content: center;
}
.login_firebase{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.inp {
    margin-bottom: 2em;
}

.inp_btn{
    display: flex;
    justify-content: center;
}

input{
    width: 100%;
    border-radius: 10px;
    height: 2em;
    border: 1px solid black;
}
button{
    background-color: rgb(3, 104, 246);
    color: rgb(255, 255, 255);
    width: 10em;
    height: 2em;
    border-radius: 10px;
    border: 1px solid black;
}
.img_div{
    padding-top: 1em;
}
img{
    width: 2.7em;
    height: 2.7em;
    cursor: pointer;
}

a { 
    cursor: pointer;
    color: #0d6efd  !important;
    text-decoration: underline !important;
}


@keyframes animate-bg {
    0%{
        background-position: 0 50%;
    }50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


@media (max-width: 813px) {
    .contenedor{
        display: block;
        position: absolute;
        padding-top: 25%;
        padding-left: 2%;
        width: 100%;
        background-size: 400% 400%;
    }
    .contenedorHom{
        margin-left: 10%;
        margin-top: 1em;
        padding-left: 2em;
        width: 75%;
    }

    .contenedorForm{
        margin-left: 10%;
        width: 75%;
    }
}



@media (max-height: 721px) {
    .contenedor{
        height: calc(110vh);
    }
}


/* 280, 540, 375 px problema */
