<div [ngClass]="(onOpen)? 'openContenedor':''" class="contenedor">
    <nav>
        <ul>
            <li>Electronica <img alt="img_flecha" src="https://img.icons8.com/color/48/000000/circled-down--v1.png" />
            </li>
            <ul class="opcionesUl op1">
                <li [ngClass]="(activar == 1)? 'activar':''" (click)="onClick('electronica/express')">Pedidos Express
                </li>
            </ul>
            <hr>
            <li>Mecanica <img alt="img_flecha" src="https://img.icons8.com/color/48/000000/circled-down--v1.png" /></li>
            <ul class="opcionesUl op2">
                <li [ngClass]="(activar == 1)? 'activar':''" (click)="onClick('electronica/express')">Pedidos Express
                </li>
            </ul>
            <div class="end-contenedor">
                <hr>
                <li id="li-end" [ngClass]="(activar == 1)? 'activar':''"> <b>Proximamente...</b></li>
            </div>
        </ul>
    </nav>
</div>