<div class="contenedor">
    <nav>
        <ul>
            <li>Electronica <img alt="img_flecha" src="https://img.icons8.com/color/48/000000/circled-down--v1.png"/></li>
            <ul class="opcionesUl">
                <li>Opcion 1</li>
                <li>Opcion 2</li>
                <li>Opcion 3</li>
                <li>Opcion 4</li>
            </ul>
            <hr>
            <li>Mecanica <img alt="img_flecha" src="https://img.icons8.com/color/48/000000/circled-down--v1.png"/></li>
            <ul class="opcionesUl">
                <li>Opcion 1</li>
                <li>Opcion 2</li>
                <li>Opcion 3</li>
                <li>Opcion 4</li>
                <li>Opcion 5</li>
            </ul>
            <hr>
            <li>Repuestos <img  alt="img_flecha" src="https://img.icons8.com/color/48/000000/circled-down--v1.png"/></li>
            <ul class="opcionesUl">
                <li>Opcion 1</li>
                <li>Opcion 2</li>
                <li>Opcion 3</li>
            </ul>
        </ul>
    </nav>
</div>
