.contenedor{
    background-color: #292F47;
    padding-top: 3em;
    position: fixed;
    color: #fff;
    width: 15em;
    height: calc(100vh);
    animation: barraLateral 1s;
    z-index: 1;
}
.openContenedor{
    display: block !important;
}
.opcionesUl li{
    margin-top: 1em;
    padding-left: 1em;
    padding-top: 0.15em;
    margin-right: 1em;
}
img{
    width: 2em;
    height: 2em;
}
hr{
    color: #fff;
    height: 0.2em;
    background-color: #fff;
}

.opcionesUl li:hover{
    background-color: #fff;
    border-radius: 10px;
    color: #000;
}
.activar{
    background-color: #fff;
    border-radius: 10px;
    color: #000;
}

li{
    height: 2em;
    list-style: none;
}

.op2 {
    display: block;
}
.op3 {
    display: none;
}
@keyframes barraLateral {
    0%{
        left: -15em;
    }
    50%{
        left: 0em;
    }
    
}

@media(max-width:1271px){
    .contenedor{
        display: none;
    }
}