
<div class="contenedor">
    <div class="cabecera">
        <h1 class="header">Reservaciones </h1>
    </div>
    <div class="tabla table-responsive">
        <table class="table table-hover ">
            <caption>Reservaciones 2022</caption>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservacion of reservaciones">
                    <td>{{reservacion.nombre}}</td>
                    <td>{{reservacion.fecha}}</td>
                    <td>{{reservacion.direccion}}</td>
                    <td>{{reservacion.telefono}}</td>
                    <td>{{reservacion.marca}}</td>
                    <td>{{reservacion.modelo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>