<div *ngIf="user?.uid">
    <app-navegacion></app-navegacion>
    <div class="contenedor">
        <div class="electronica card_init">
            <div class="card_content">
                <h1 class="card_title">Electronica</h1>
                <div class="card_description">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus blanditiis voluptate ratione
                    molestiae doloremque laborum minus neque nesciunt. Vitae atque corporis aut quaerat itaque
                    aspernatur odio magnam in nisi similique.
                </div>
                <div class="btn_contenedor">
                    <button class="card-btn" (click)="onMove('electronica/audio')"><img alt="img_elec"
                        src="https://img.icons8.com/color/48/000000/electricity-hazard.png" /> Electronica
                    </button>
                </div>
                
            </div>


        </div>
        <div class="mecanica card_init">
            <div class="card_content">
                <h1 class="card_title">Mecanica</h1>
                <div class="card_description">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus blanditiis voluptate ratione
                    molestiae doloremque laborum minus neque nesciunt. Vitae atque corporis aut quaerat itaque
                    aspernatur odio magnam in nisi similique.
                </div>
                <div class="btn_contenedor">
                    <button class="card-btn" (click)="onMove('')"> <img alt="img_Mec"
                        src="https://img.icons8.com/color/48/000000/mechanic-skin-type-3.png" />
                    Mecanica</button>
                </div>
                
               
            </div>
        </div>
    </div>
</div>