<nav class="navbar bg-light fixed-top nv">
    <div class="container-fluid" style="background-color:rgb(14, 78, 255); height: 3em;">
      <h3 style="color: #fff;">Logo</h3> 
      <div class="user">
        <img src="{{user?.img_url}}" class="userimg" alt="userImg">
        <img src="https://img.icons8.com/fluency/48/000000/shopping-cart.png" class="userimg" alt="carrito_img"/>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <img alt="img_nav" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAABmJLR0QA/wD/AP+gvaeTAAAAdElEQVRoge3XsQkCQRiE0Vnr0IK0DsGyFwTrGFORC0zujsP3wo3+2exLAAAA+EHbW9vZ45ttr9/7xsLgZ5LLJr+7vtcY4/z5cNrrkr0sDX4kmVsfsoKZ5L73EQAAf6xq6dDUkloCAGAtVUuHppbUEgAAAEneFJZ/WAMmtUwAAAAASUVORK5CYII=" class="hgm">
        </button>
      </div>
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Opciones: </h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" routerLink="/asociados">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/activos">WhatsApp</a>
            </li>
            <li class="nav-item">
                <a (click)="onLogout()" class="nav-link" href="#" routerLink="">Cerrar Sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
