.contenedor{
    margin-top: 5em;
    position: absolute;
    width: 70%;
    margin-left: 20%;
}
.cont_descripcion{
    background-color: #f4efe8;
    box-shadow: 2px 2px 2px rgb(69, 69, 69);
    animation: up 1s;
    margin-bottom: 5em;
    border-radius: 10px;
}
.init { 
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header {
    width: 25%;
}
.content{
    width: 35%;
}
.gift {
    width: 6em;
    height: 6em;
    border-radius: 100px;
}

.cont1:hover{
    border-radius: 10px;
    border: 3px solid #08d0f8;
    cursor: pointer;
}
@keyframes up {
    0% {
        margin-top: 200%;
    }
}

