<app-navegacion></app-navegacion>
<app-barralateral></app-barralateral>
<div class="contenedor">
    <div class="init cont_descripcion" style="margin-bottom: 8em;" *ngIf="ruta.includes('audio')">
        <div>
            <h1>Audio</h1>
        </div>
        <div>
            <img src="https://media0.giphy.com/media/PiuazKIunyATuyKO20/giphy.gif?cid=790b76112fda014b6ecd755d9e0184ef4de731c7795fc9a5&rid=giphy.gif&ct=s" alt="img_init" class="gift">
        </div>
    </div>
    <div class="init cont_descripcion" style="margin-bottom: 8em;" *ngIf="ruta.includes('video')">
        <div>
            <h1>Video</h1>
        </div>
        <div>
            <img src="https://static.wixstatic.com/media/cfd0a5_33eaa47db61c460a849bb6c17c18c6d0~mv2.gif" alt="img_init"
                class="gift">
        </div>
    </div>
    <div *ngFor="let item of content; let indice = index">
        <div class="cont_descripcion">
            <div class="init cont1" (click)="onClick(content[indice].header,indice)">
                <div class="header">
                    <h2>{{item.header}}</h2>
                </div>
                <div class="content">
                    <p>{{item.content}}</p>
                </div>
                <div>
                    <img src="{{item.img}}" alt="img_instalacion" />
                </div>
            </div>
            <router-outlet *ngIf="ind == indice"></router-outlet>
        </div>


    </div>

</div>